In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("data/rawdata.csv")
df

,report_number,title,classification,timestamp,year,day,month,season,state,county,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,uv_index,visibility,wind_bearing,wind_speed,summary
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16 0:00:00,2000,16,6,Summer,Alaska,Cordova-McCarthy County,...,0.49,0.000,0.0,rain,1017.00,4,9.50,188,4.05,Overcast throughout the day.
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15 0:00:00,1995,15,5,Spring,Alaska,Prince of Wales County,...,0.54,0.000,0.0,rain,1017.00,5,9.50,170,4.36,Overcast throughout the day.
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09 0:00:00,2004,9,2,Winter,Alaska,Prince of Wales County,...,0.62,0.033,1.0,rain,1025.88,1,6.29,138,17.42,Rain in the morning and afternoon and breezy i...
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18 0:00:00,2004,18,6,Summer,Alaska,Southeast Fairbanks County,...,0.03,0.000,0.0,unknown,1024.32,6,10.00,307,2.72,Partly cloudy until afternoon.
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15 0:00:00,2004,15,2,Winter,Alaska,Anchorage County,...,0.84,0.000,0.0,unknown,1009.17,1,9.77,80,0.17,"Partly cloudy starting in the afternoon, conti..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4051,4159,Report 4159: Campers hear unusual grunting sou...,Class C,1995-11-15 0:00:00,1995,15,11,Fall,Texas,Trinity County,...,0.76,0.000,0.0,rain,1020.63,4,10.00,249,3.46,Clear throughout the day.
4052,175,Report 175: Campers encounter large animal nea...,Class C,2000-07-30 0:00:00,2000,30,7,Summer,Washington,Kittitas County,...,0.99,0.000,0.0,unknown,1017.60,9,10.00,229,8.78,Clear throughout the day.
4053,945,Report 945: Creature with red glowing eyes seen,Class C,1999-03-19 0:00:00,1999,19,3,Spring,Washington,Jefferson County,...,0.08,0.000,0.0,unknown,1017.18,5,10.00,47,7.27,Clear throughout the day.
4054,1387,Report 1387: Father and son hear heavy footste...,Class C,1983-08-17 0:00:00,1983,17,8,Summer,Washington,King County,...,0.32,0.000,0.0,unknown,1016.33,8,10.00,358,6.08,Partly cloudy starting in the evening.
4055,3044,Report 3044: Second-hand report of creature lo...,Class C,1975-09-10 0:00:00,1975,10,9,Unknown,Wisconsin,La Crosse County,...,0.18,0.000,0.0,rain,1015.36,5,7.50,177,10.24,Mostly cloudy throughout the day and breezy in...

In [6]:
df.loc[3482:3592, "classification"]

3482    Class B
3483    Class B
3484    Class B
3485    Class B
3486    Class B
         ...
3588    Class B
3589    Class B
3590    Class B
3591    Class B
3592    Class B
Name: classification, Length: 111, dtype: object

In [19]:
duplicated = df["title"].duplicated()
df.loc[duplicated]

Empty DataFrame
Columns: [report_number, title, classification, timestamp, year, day, month, season, state, county, nearest_town, nearest_road, observed, also_noticed, other_witnesses, other_stories, time_and_conditions, environment, location_details, latitude, longitude, geohash, temperature_high, temperature_mid, temperature_low, dew_point, humidity, cloud_cover, moon_phase, precip_intensity, precip_probability, precip_type, pressure, uv_index, visibility, wind_bearing, wind_speed, summary]
Index: []

[0 rows x 38 columns]

In [23]:
df["state"].unique()

array(['Alaska', 'Alabama', 'Arkansas', 'Arizona', 'California',
       'Colorado', 'Connecticut', 'Florida', 'Georgia', 'Iowa', 'Idaho',
       'Illinois', 'Indiana', 'Kansas', 'Kentucky', 'Louisiana',
       'Massachusetts', 'Maryland', 'Maine', 'Michigan', 'Minnesota',
       'Missouri', 'Mississippi', 'Montana', 'North Carolina',
       'North Dakota', 'Nebraska', 'New Hampshire', 'New Jersey',
       'New Mexico', 'Nevada', 'New York', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Virginia', 'Vermont', 'Washington',
       'Wisconsin', 'West Virginia', 'Wyoming', 'Delaware'], dtype=object)