In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('/home/zenolucas/PycharmProjects/python101/notebooks/data/churndata.csv')
data

,Account Length,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,128,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,107,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,137,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,84,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,75,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,no,yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,68,no,no,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,28,no,no,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,184,yes,no,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,74,no,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [6]:
Churned= data[data['Churn?'] == "True."]
Churned

,Account Length,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
10,65,no,no,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True.
15,161,no,no,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
21,77,no,no,0,62.4,89,10.61,169.9,121,14.44,209.6,64,9.43,5.7,6,1.54,5,True.
33,12,no,no,0,249.6,118,42.43,252.4,119,21.45,280.2,90,12.61,11.8,3,3.19,1,True.
41,135,yes,yes,41,173.1,85,29.43,203.9,107,17.33,122.2,78,5.50,14.6,15,3.94,0,True.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3301,84,no,no,0,280.0,113,47.60,202.2,90,17.19,156.8,103,7.06,10.4,4,2.81,0,True.
3304,71,yes,no,0,186.1,114,31.64,198.6,140,16.88,206.5,80,9.29,13.8,5,3.73,4,True.
3320,122,yes,no,0,140.0,101,23.80,196.4,77,16.69,120.1,133,5.40,9.7,4,2.62,4,True.
3322,62,no,no,0,321.1,105,54.59,265.5,122,22.57,180.5,72,8.12,11.5,2,3.11,4,True.
3323,117,no,no,0,118.4,126,20.13,249.3,97,21.19,227.0,56,10.22,13.6,3,3.67,5,True.

In [7]:
nonChurned= data[data['Churn?'] == "False."]
nonChurned

,Account Length,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,128,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,107,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,137,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,84,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,75,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,no,yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,68,no,no,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,28,no,no,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,184,yes,no,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,74,no,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [9]:
mean = data.groupby("Churn?").agg({"CustServ Calls" : "mean"})
mean

        CustServ Calls
Churn?
False.        1.449825
True.         2.229814

In [10]:
median = data.groupby("Churn?").agg({"CustServ Calls" : "median"})
median

        CustServ Calls
Churn?
False.             1.0
True.              2.0

In [13]:
mode = data.groupby("Churn?")["CustServ Calls"].agg(pd.Series.mode)
mode

Churn?
False.    1
True.     1
Name: CustServ Calls, dtype: int64

In [14]:
variance = data.groupby("Churn?").agg({"CustServ Calls" : "var"})
variance

        CustServ Calls
Churn?
False.        1.354624
True.         3.434628

In [18]:
mean = data.groupby("Churn?").agg({"Day Mins" : "mean"})
mean

          Day Mins
Churn?
False.  175.175754
True.   206.914079

In [19]:
mean = data.groupby("Churn?").agg({"Day Calls" : "mean"})
mean

         Day Calls
Churn?
False.  100.283158
True.   101.335404

In [20]:
mean = data.groupby("Churn?").agg({"Day Charge" : "mean"})
mean

        Day Charge
Churn?
False.   29.780421
True.    35.175921

In [21]:
mean = data.groupby("Churn?").agg({"Eve Mins" : "mean"})
mean

          Eve Mins
Churn?
False.  199.043298
True.   212.410145

In [22]:
mean = data.groupby("Churn?").agg({"Eve Calls" : "mean"})
mean

         Eve Calls
Churn?
False.  100.038596
True.   100.561077

In [23]:
mean = data.groupby("Churn?").agg({"Eve Charge" : "mean"})
mean

        Eve Charge
Churn?
False.   16.918909
True.    18.054969

In [25]:
mean = data.groupby("Churn?").agg({"Night Mins" : "mean"})
mean

        Night Mins
Churn?
False.  200.133193
True.   205.231677

In [26]:
mean = data.groupby("Churn?").agg({"Night Calls" : "mean"})
mean

        Night Calls
Churn?
False.   100.058246
True.    100.399586

In [27]:
mean = data.groupby("Churn?").agg({"Night Charge" : "mean"})
mean

        Night Charge
Churn?
False.      9.006074
True.       9.235528

In [30]:
mean = data.groupby("Churn?").agg({"Intl Mins" : "mean"})
mean

        Intl Mins
Churn?
False.  10.158877
True.   10.700000

In [31]:
mean = data.groupby("Churn?").agg({"Intl Calls" : "mean"})
mean

        Intl Calls
Churn?
False.    4.532982
True.     4.163561

In [32]:
mean = data.groupby("Churn?").agg({"Intl Charge" : "mean"})
mean

        Intl Charge
Churn?
False.     2.743404
True.      2.889545