In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("data/exercise1data.txt")
df

    data  Unnamed: 1
1      5         NaN
2      8         NaN
3      6         NaN
4      8         NaN
5      9         NaN
6      6         NaN
7      1         NaN
8      0         NaN
9      9         NaN
10     2         NaN
11     2         NaN
12     8         NaN
13     2         NaN
14     0         NaN
15     4         NaN
16     2         NaN
17     8         NaN
18     6         NaN
19     8         NaN
20     8         NaN
21     0         NaN
22     1         NaN
23     9         NaN
24     1         NaN
25     3         NaN
26     4         NaN
27     2         NaN
28     3         NaN
29     6         NaN
30     8         NaN
31     1         NaN
32     4         NaN
33     6         NaN
34     7         NaN
35     8         NaN
36     3         NaN
37     9         NaN
38     1         NaN
39     5         NaN

In [12]:
df['data'].sum()

183

In [10]:
var = df.aggregate({"data" : "var"})
var

data    9.376518
dtype: float64